[submodule "lisp/slime"]
	path = lisp/slime
	url = git://github.com/nablaone/slime
[submodule "elpa/yasnippet-0.6.1/yasnippet-snippets"]
	path = elpa/yasnippet-0.6.1/yasnippet-snippets
	url = git://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "elpa/ecb"]
	path = elpa/ecb
	url = git://github.com/alexott/ecb
